@import url("../css/styles.css");

header {
  position: relative;
  top: 0;
  background: #60b4df;
  padding: 0.8rem;
  width: 100%;
  z-index: 1000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0px auto;
}

.paste {
  position: sticky;
  top: 0;
}

.container {
  position: relative;
  display: flex;
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.nav-links > ul {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  font-weight: 600;
}

.nav-link > a, ul > li.dropdown-link > a {
  line-height: 1.8rem;
  color: #fff;
  padding: 1rem 1.2rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.nav-link > a > i {
  margin-left: 0.4rem;
}

.nav-link:hover > a, ul > li.dropdown-link:hover > a {
  transform: scale(1.05);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.nav-links > ul > li > ul {
  display: none;
  position: absolute;
  height: auto;
  background-color: #60b4df;
}

.nav-links > ul > li:hover > ul {
  display: block;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div::before,
.hamburger-menu div::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div::before {
  transform: translateY(-7px);
}

.hamburger-menu div::after {
  transform: translateY(7px);
}

.banner {
  background: url("../img/archivos.jpg") no-repeat top center / cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(96, 180, 223, 0.6);
}

.no-overflow {
  overflow: hidden;
}

.overlay-container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 2rem;
  color: #fff;
  font-size: 3.2rem;
  text-transform: capitalize;
}

#check {
  position: absolute;
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div::before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div::after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1010px) {
  .nav-btn {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background: #69bde7;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background: #50a9d6;
  }

  .log-sign {
    flex: initial;
    width: 100%;
    padding: 1.5rem 1.9rem;
    justify-content: flex-start;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link:hover .arrow {
    background: #50a9d6;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }
}